<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DEX OMAN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DEX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>com.googleusercontent.apps.628815331732-ppkh7qrlmrndv2dm2urfa1pbimph0oca</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>App may need to use this permission to allow you to play music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App may need this permission to connect bluetooth printers to print invoices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App may need this permission to connect bluetooth printers to print invoices</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App may need this permission to use calender for customer upcoming orders</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera permission to this app to upload photos of food</string>
	<key>NSContactsUsageDescription</key>
	<string>App may need this permission to send sms to saved customer number</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app may use your location to find restaurent near by you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app may use your location to find restaurent near by you</string>
	<key>NSMotionUsageDescription</key>
	<string>App may need to use motion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo permission to this app to upload photos of food</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>App may need this permission to keep you update with customers chat</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
